#prakritiVikritiQuiz {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}
#prakritiVikritiQuiz h2, 
#prakritiVikritiQuiz h3, 
#prakritiVikritiQuiz h4 {
  text-align: center;
  color: #2c3e50;
}
.option {
  display: block;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  text-align: left;
  border-radius: 5px;
}
.option:hover {
  background-color: #e0e0e0;
}
.selected {
  background-color: #27ae60;
  color: white;
}
button.submit-btn {
  display: block;
  width: 100%;
  background-color: #27ae60;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}
button.submit-btn:hover {
  background-color: #219150;
}
.back-button {
  display: block;
  width: 200px; /* Adjust width as needed */
  margin: 20px auto; /* Centers the button horizontally */
  padding: 15px; /* Adjust padding for height */
  font-size: 16px; /* Adjust font size */
  text-align: center;
  background-color: #04AA6D; /* Button color */
  color: white;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}
